<div class="row text-center">
    <div class="col-lg-3 col-md-3 text-center textdiv" onclick="location.href='https://www.linkedin.com/in/james-angel/';">
        <img src="assets/img/james.jpeg" class="headshot" alt=""/>
        <br>
        <br>
        <p class="text-muted mb-0">
        <a href="https://www.linkedin.com/in/james-angel/">
            James Angel
        </a>
        </p>
    </div>
    
    
    <div class="col-lg-3 col-md-3 text-center textdiv" onclick="location.href='https://www.linkedin.com/in/marwan-ayoub-8634841a/';">
        <img src="assets/img/marwan.jpeg" class="headshot" alt=""/>
        <br>
        <br>
        <p class="text-muted mb-0">
        <a href="https://www.linkedin.com/in/marwan-ayoub-8634841a/">
            Marwan Ayoub
        </a>
        </p>
    </div>
    <div class="col-lg-3 col-md-3 text-center textdiv" onclick="location.href='https://www.linkedin.com/in/marylou-cast-89a595163/';">
        <img src="assets/img/ml.jpeg" class="headshot" alt=""/>
        <br>
        <br>
        <p class="text-muted mb-0">
            <a href="https://www.linkedin.com/in/marylou-cast-89a595163/">
            Marylou Cast
            </a>
        </p>
    </div>
    <div class="col-lg-3 col-md-3 text-center textdiv" onclick="location.href='https://www.linkedin.com/in/nemrhallak/';">
        <img src="assets/img/nemr.jpeg" class="headshot" alt=""/>
        <br>
        <br>
        <p class="text-muted mb-0">
            <a href="https://www.linkedin.com/in/nemrhallak/">
            Nemr Hallak
            </a>
        </p>
    </div>
    <div class="col-lg-3 col-md-3 text-center textdiv" onclick="location.href='https://www.linkedin.com/in/rhys-parry/';">
        &nbsp;
    </div>
</div>