<div class="row text-center">
    <div class="col-lg-3 col-md-3 text-center textdiv" onclick="location.href='https://www.linkedin.com/in/sylvain-cormier-0592805/';">
        <img src="assets/img/sylvain.jpeg" class="headshot" alt=""/>
        <br>
        <br>
        <p class="text-muted mb-0">
            <a href="https://www.linkedin.com/in/sylvain-cormier-0592805/">
            Sylvain Cormier
            </a>
        </p>
    </div>
    <div class="col-lg-3 col-md-3 text-center textdiv" onclick="location.href='https://www.linkedin.com/in/shawnlauzon/';">
        <img src="assets/img/shawn.jpeg" class="headshot" alt=""/>
        <br>
        <br>
        <p class="text-muted mb-0">
        <a href="https://www.linkedin.com/in/shawnlauzon/">
            Shawn Lauzon
        </a>
        </p>
    </div>
    <div class="col-lg-3 col-md-3 text-center textdiv" onclick="location.href='https://www.linkedin.com/in/rhys-parry/';">
        <img src="assets/img/rhys.jpeg" class="headshot" alt=""/>
        <br>
        <br>
        <p class="text-muted mb-0">
        <a href="https://www.linkedin.com/in/rhys-parry/">
            Rhys Parry
        </a>
        </p>
    </div>
    <div class="col-lg-3 col-md-3 text-center textdiv" onclick="location.href='https://www.linkedin.com/in/joemar-taganna-a81b728/';">
        <img src="assets/img/joemar.jpeg" class="headshot" alt=""/>
        <br>
        <br>
        <p class="text-muted mb-0">
        <a href="https://www.linkedin.com/in/joemar-taganna-a81b728/">
            Joemar Taganna  
        </a>
        </p>
    </div>
    <div class="col-lg-3 col-md-3 text-center textdiv" onclick="location.href='https://www.linkedin.com/in/rhys-parry/';">
        &nbsp;
    </div>
</div>