<div class="row text-center">
    <div class="col-lg-4 col-md-4 text-center textdiv" onclick="location.href='https://www.linkedin.com/in/mojgan-ahmadi-1045a311b/';">
        <img src="assets/img/mojgan.jpeg" class="headshot" alt=""/>
        <br>
        <br>
        <p class="text-muted mb-0">
            <a href="https://www.linkedin.com/in/mojgan-ahmadi-1045a311b/">
            Mojgan Ahmadi
            </a>
        </p>
    </div>
    <div class="col-lg-4 col-md-4 text-center textdiv" onclick="location.href='https://www.linkedin.com/in/matthew-isganaitis-1822a2161/';">
        <img src="assets/img/mat.jpeg" class="headshot" alt=""/>
        <br>
        <br>
        <p class="text-muted mb-0">
          <a href="https://www.linkedin.com/in/matthew-isganaitis-1822a2161/">
            Matthew Isganaitis
          </a>
        </p>
    </div>
    <div class="col-lg-4 col-md-4 text-center textdiv" onclick="location.href='https://www.linkedin.com/in/jamesparryhill/';">
        <img src="assets/img/jimbo.jpeg" class="headshot" alt=""/>
        <br>
        <br>
        <p class="text-muted mb-0">
          <a href="https://www.linkedin.com/in/jamesparryhill/">
            James Parry-Hill
          </a>
        </p>
      </div>
    <div class="col-lg-4 col-md-4 text-center textdiv" onclick="location.href='https://www.linkedin.com/in/rhys-parry/';">
        &nbsp;
    </div>
</div>