<!-- Featured -->
<section class="bg-primary" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-10 mx-auto text-center">
            <h1 class="text-grey">About Us</h1>
          <br/>
          <br/>
          <br/>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse nec tempor dolor, id pharetra augue. Phasellus sodales nisi sed eros pretium pulvinar. Cras orci arcu, porttitor non nisl vitae, finibus maximus nulla. Suspendisse egestas, nulla nec suscipit ultricies, mi quam fermentum ligula, ac aliquet dui felis sed eros. Praesent mollis, purus in vestibulum lacinia, dui sapien imperdiet erat, sit amet efficitur odio justo a nisi. In hac habitasse platea dictumst. Nulla at rhoncus nulla. Nulla sit amet pellentesque velit. Morbi condimentum mi sed dolor suscipit, in elementum nisl hendrerit. In convallis diam id convallis dignissim. Aliquam erat volutpat.
          </p>
          <p>
            Integer iaculis nec magna vitae tempor. Sed aliquam cursus euismod. Aenean semper ante vitae scelerisque facilisis. Praesent nulla dui, pellentesque vitae metus eu, mattis mollis mauris. Fusce tempor posuere fermentum. Cras est purus, lobortis in malesuada vitae, consectetur ac elit. Maecenas semper hendrerit erat, nec fermentum dolor tristique vitae. Nunc molestie sagittis ligula, ut posuere ex euismod ac. 
          </p>
          <div id="demo" class="text-grey"/>
        </div>
      </div>
      </div>
  </section>

  