<!-- Featured -->
<section class="bg-primary" id="applications">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 col-md-12 text-center" >
            <h1 class="text-light">{{home.applications}}</h1>
            <br/>
            <br/>
          </div>
        </div>
    <div class="row">
      <div class="col-lg-12 col-md-12 text-center" >
        <div class="row">
            
          <div class="col-lg-3 col-md-3 text-center textdiv" >
            <div class="service-box mt-5 mx-auto">
                <h1>{{home.parklink}}</h1>
                
                  
                  <hr style="background-color: #1B2631"/>
              <div style="font-size:3em; color:DARKSLATEBLUE">
                  <img src="assets/img/parklink_logo.png" height="85px;" alt=""/>
                </div>
              <p class="text-muted mb-0">{{home.parklink_desc}}</p>
              <br/>
              <br/>
            </div>
          </div>
          <div class="col-lg-1 col-md-1 text-center" >
              <div class="service-box mt-5 mx-auto">
                &nbsp;
            </div>
          </div>
          <div class="col-lg-4 col-md-4 text-center textdiv" >
              <div class="service-box mt-5 mx-auto">
                  <h1>{{home.vespucci}}</h1>
                
                  
                  <hr style="background-color: #1B2631"/>
                  <div style="font-size:3em; color:DARKSLATEBLUE">
                      <img src="assets/img/vespucci_solo.png" height="45px;" alt=""/>
                    </div>
              <p class="text-muted mb-0">{{home.vespucci_desc}}</p>
              
              <br/>
              <br/>
            </div>
          </div>
          <div class="col-lg-1 col-md-1 text-center" >
              <div class="service-box mt-5 mx-auto">
                &nbsp;
            </div>
          </div>
          <div class="col-lg-3 col-md-3 text-center textdiv">
            <div class="service-box mt-5 mx-auto" >
                <h1>{{home.done}}</h1>
              
              
              <hr/>
              <div style="font-size:3em; color:DARKSLATEBLUE">
                  <img src="assets/img/done_logo.png" height="85px;" alt=""/>
              </div>
                <p class="text-muted mb-0">{{home.done_desc}}</p>
                
              <br/>
              <br/>
              </div>
          </div>
          <div class="col-lg-1 col-md-1 text-center" >
              <div class="service-box mt-5 mx-auto">
                &nbsp;
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>

  
    