{% assign home = site.data.lang[site.active_lang].home %}
<section id="contact" class="text-white text-center" style="background-color: #232C3B;" >
    
    <h2>{{home.contact_us}}</h2>
    <ul class="contact">
      <li><a href="https://github.com/Volentix" ><i class="fa fa-github" style="color: white"></i></a></li>
      <li><a href="https://twitter.com/Volentix"><i class="fa fa-twitter" style="color: white"></i></a></li>
      <li><a href="https://t.me/volentix"><i class="fa fa-telegram" style="color: white"></i></a></li>
      <li><a href="https://medium.com/@marketing_33515"><i class="fa fa-medium" style="color: white"></i></a></li>
      <li><a href="mailto:info@volentixlabs.com"><i class="fa fa-envelope" style="color: white"></i></a></li>
    </ul>
        
    <br/>
    &copy; 2018 Volentix
</section> 