<section id="corevalues" class="bg-dark">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 col-md-12 text-center" >
            <h1 class="text-light">{{home.core_values}}</h1>
            <br/>
            <br/>
          </div>
        </div>
    <div class="row">
        
        <div class="col-lg-2 col-md-2 text-center" >
            <div class="service-box mt-5 mx-auto">
              &nbsp;
          </div>
        </div>
        <div class="col-lg-8 col-md-8 text-center textdiv" >
            
            <div class="service-box mt-5 mx-auto text-muted">
                <div style="font-size:3em; color:DARKSLATEBLUE">
                    <i class="fa fa-search"></i>
                  </div>
              <ul style="list-style-type:none">
                <li>
                  Decentralization of governance
                </li>
                  <li>
                    Personal privacy and security
                  </li>
                  <li>
                    Open Source
                  </li>
                  <li>
                    Community Transparency
                    
                </li>
              </ul>
              <br/>
            </div>
          </a>
        </div>
        <div class="col-lg-2 col-md-2 text-center" >
            <div class="service-box mt-5 mx-auto">
              &nbsp;
          </div>
        </div>
      </div>
  </div>
</section>
  