<div id="nav-wrapper">
	<!-- Nav -->
	<nav id="nav">
		<ul>
			{% assign current = page.url | downcase | split: '/' %}
			<li {% if current[1] == 'index.html' %}class='current'{% endif %}><a href="/index.html">{{site.data.lang[site.active_lang].nav.home}}</a></li>
			<li {% if current[1] == 'blog' %}class='current'{% endif %}><a href="/blog">{{site.data.lang[site.active_lang].nav.announcements}}</a></li>
			<li {% if current[1] == 'legal/privacy-policy.html' %}class='current'{% endif %}><a href="/legal/privacy-policy.html">{{site.data.lang[site.active_lang].nav.privacy_policy}}</a></li>
			<li {% if current[1] == 'legal/contact.html' %}class='current'{% endif %}><a href="/legal/contact.html">{{site.data.lang[site.active_lang].nav.contact}}</a></li>	
		</ul>
	</nav>
</div>