<section id="pillars">
    
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
              <div class="service-box mt-5 mx-auto">
                <img src="assets/img/vdex.png" style="border-radius: 50%;" alt=""/>
                <h3 class="mb-3">VDEX</h3>
                <p class="text-muted mb-0">{{home.vdex_desc}}</p>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
              <div class="service-box mt-5 mx-auto">
                  <img src="assets/img/verto.png" style="border-radius: 50%;" alt=""/>
                  <h3 class="mb-3">VERTO</h3>
                  <p class="text-muted mb-0">{{home.verto_desc}}</p>
                </div>
            </div>
          </div>
          <div class="row">
              <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                  <img src="assets/img/vespucci.png" style="border-radius: 50%;" alt=""/>
                  <h3 class="mb-3">VESPUCCI</h3>
                  <p class="text-muted mb-0">{{home.vespucci_desc}}</p>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box mt-5 mx-auto">
                    <img src="assets/img/venue.png" style="border-radius: 50%;" alt=""/>
                    <h3 class="mb-3">VENUE</h3>
                    <p class="text-muted mb-0">{{home.venue_desc}}</p>
                  </div>
              </div>
            </div>
        </div>
      </section>
     