<section id="team">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 text-center" >
        <h1 class="text-grey">{{home.team}}</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-3 text-center" >
        <a href="https://www.linkedin.com/in/nemrhallak/">
          <div class="service-box mt-5 mx-auto">
            <img src="assets/img/nemr.jpg" class="headshot" alt=""/>
            <br/>
            <h2 class="text-grey">Nemr</h2>
            <br/>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-3 text-center" >
        <a href="https://en.wikipedia.org/wiki/HTTP_404">
          <div class="service-box mt-5 mx-auto">
            <img src="assets/img/shadovv.jpg" class="headshot" alt=""/>
            <br/>
            <h2 class="text-grey">Shadovv</h2>
            <br/>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-3 text-center" >
        <a href="https://www.linkedin.com/in/jazmin-fillion-349990161/">
          <div class="service-box mt-5 mx-auto">
            <img src="assets/img/jaz.jpg" class="headshot" alt=""/>
            <br/>
            <h2 class="text-grey">Jaz</h2>
            <br/>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-md-3 text-center" >
        <a href="https://www.linkedin.com/in/matthew-isganaitis-1822a2161/">
          <div class="service-box mt-5 mx-auto">
            <img src="assets/img/mat.jpg" class="headshot" alt=""/>
            <br/>
            <h2 class="text-grey">Mat</h2>
            <br/>
          </div>
        </a>
      </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 text-center" >
          <a href="https://www.linkedin.com/in/shawnlauzon/">
            <div class="service-box mt-5 mx-auto">
              <img src="assets/img/shawn.jpg" class="headshot" alt=""/>
              <br/>
              <h2 class="text-grey">Shawn</h2>
              <br/>
            </div>
          </a>
        </div>
        <div class="col-lg-6 col-md-6 text-center" >
          <a href="https://www.linkedin.com/in/julie-hosson/">
            <div class="service-box mt-5 mx-auto">
              <img src="assets/img/julie.jpg" class="headshot" alt=""/>
              <br/>
              <h2 class="text-grey">Julie</h2>
              <br/>
            </div>
          </a>
        </div>
      </div>
   
    <div class="row">
        <div class="col-lg-3 col-md-3 text-center" >
          <a href="https://www.linkedin.com/in/sylvain-cormier-0592805/">
            <div class="service-box mt-5 mx-auto">
              <img src="assets/img/sylvain.jpg" class="headshot" alt=""/>
              <br/>
              <h2 class="text-grey">Sylvain</h2>
              <br/>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-3 text-center" >
          <a href="https://www.linkedin.com/in/marylou-cast-89a595163/">
            <div class="service-box mt-5 mx-auto">
              <img src="assets/img/marylou.jpg" class="headshot" alt=""/>
              <br/>
              <h2 class="text-grey">MaryLou</h2>
              <br/>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-3 text-center" >
          <a href="https://www.linkedin.com/in/james-parry-hill-804309b1/">
            <div class="service-box mt-5 mx-auto">
              <img src="assets/img/james.jpg" class="headshot" alt=""/>
              <br/>
              <h2 class="text-grey">Another James</h2>
              <br/>
            </div>
          </a>
        </div>
        <div class="col-lg-3 col-md-3 text-center" >
          <a href="https://www.linkedin.com/in/rhys-parry/">
            <div class="service-box mt-5 mx-auto">
              <img src="assets/img/rhys.jpg" class="headshot" alt=""/>
              <br/>
              <h2 class="text-grey">Rhys</h2>
              <br/>
            </div>
          </a>
        </div>
      </div>
  </div>
</section>
  