<section id="team" class="bg-dark">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 col-md-12 text-center" >
            <h1 class="text-light">{{home.team}}</h1>
            <br/>
            <br/>
          </div>
        </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 text-center" >
            <div class="row">
                <div class="col-lg-1 col-md-1 text-center" >
                    <div class="service-box mt-5 mx-auto">
                      &nbsp;
                  </div>
                </div>
              <div class="col-lg-4 col-md-4 text-center textdiv" >
                <div class="service-box mt-5 mx-auto">
                    <h1>Alexis</h1>
                    <h1>Anastasiou</h1>
                    <p class="text-muted mb-0">Founder &amp; CEO</p>
                    
                      
                      <hr style="background-color: #1B2631"/>
                      <img src="assets/img/alex.jpeg" class="headshot" alt=""/>
                      <br/>
                      <br/>
                      
                  <p class="text-muted mb-0">Entrepreneur, investor &amp; engineer.  Excellent track record managing very large budgets. BoD member in numerous companies. Founder and co-founder of several start-ups. Mentor of start-up founders. Technology and blockchain enthusiast.</p>
                  <br/>
                  <br/> 
                </div>
              </div>
              <div class="col-lg-2 col-md-2 text-center" >
                  <div class="service-box mt-5 mx-auto">
                    &nbsp;
                </div>
              </div>
              <div class="col-lg-4 col-md-4 text-center textdiv">
                <div class="service-box mt-5 mx-auto" >
                    <h1>Prof. Yiannis</h1>
                    <h1>Emiris</h1>
                    <p class="text-muted mb-0">CTO &amp; Chief Scientist</p>
                  
                  <hr/>
                  <img src="assets/img/emiris.jpeg" class="headshot" alt=""/>
                      <br/>
                      <br/>
                    <p class="text-muted mb-0">Professor of Computer Science. 25 years of research experience in Scientific Computing and Data Science (UC Berkeley, INRIA France, NKU Athens, ATHENA RC), R&D Project Coordinator, Team Manager, Consultant of high-tech start-ups.</p>
                    <br/>
                        <br/>
                  </div>
              </div>
              <div class="col-lg-1 col-md-1 text-center" >
                  <div class="service-box mt-5 mx-auto">
                    &nbsp;
                </div>
              </div>
            </div>
          </div>
        </div>
        <br/>
        <br/>
        <div class="row">
            <div class="col-lg-12 col-md-12 text-center" >
                <div class="row">
                    <div class="col-lg-1 col-md-1 text-center" >
                        <div class="service-box mt-5 mx-auto">
                          &nbsp;
                      </div>
                    </div>
                  <div class="col-lg-4 col-md-4 text-center textdiv" >
                    <div class="service-box mt-5 mx-auto">
                        <h1>Jason</h1>
                        <h1>Theodorakopoulos</h1>
                        <p class="text-muted mb-0">Development Lead</p>
                        
                          
                          <hr style="background-color: #1B2631"/>
                          <img src="assets/img/jason.jpeg" class="headshot" alt=""/>
                          <br/>
                          <br/>
                          
                      <p class="text-muted mb-0">Entrepreneur & engineer. Co-founder of Meteorologica. 10 years experience in code development and data engineering. Excellent track record in managing development projects.</p>
                      <br/>
                      <br/> 
                    </div>
                  </div>
                  <div class="col-lg-2 col-md-2 text-center" >
                      <div class="service-box mt-5 mx-auto">
                        &nbsp;
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 text-center textdiv">
                    <div class="service-box mt-5 mx-auto" >
                        
                        <h1>Dimitra</h1>
                        <h1>Panou</h1>
                      
                        <p class="text-muted mb-0">Researcher &amp; Developer</p>
                      
                      <hr/>
                      <img src="assets/img/Dimitra.jpg" class="headshot" alt=""/>
                          <br/>
                          <br/>
                        <p class="text-muted mb-0">Computer scientist & full stack developer. MSc in Bioinformatics and Machine Learning researcher.</p>
                        <br/>
                        <br/>
                        
                      </div>
                  </div>
                  <div class="col-lg-1 col-md-1 text-center" >
                      <div class="service-box mt-5 mx-auto">
                        &nbsp;
                    </div>
                  </div>
                </div>
              </div>
            </div>
  </div>
</section>
  