<section id="team" class="bg-dark">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 text-center textdiv" >
        <div class="row text-center">
            
          <div class="col-lg-12 col-md-12 " >
              <div class="service-box mt-5 mx-auto text-muted">
                <h1>{{home.team}}</h1>
                <hr style="background-color: #1B2631"/>
              </div>
          </div>
          </div>
          <div class="row text-center">
              <div class="col-lg-2 col-md-2 text-center textdiv" >
                &nbsp;
              </div>
          </div>
          <div class="row text-center">
            <div class="col-lg-3 col-md-3 text-center textdiv" onclick="location.href='https://www.linkedin.com/in/nemrhallak/';">
                <img src="assets/img/nemr.jpeg" class="headshot" alt=""/>
                <br>
                <br>
                <p class="text-muted mb-0">
                  <a href="https://www.linkedin.com/in/nemrhallak/">
                    Nemr Hallak
                  </a>
                </p>
            </div>
            <div class="col-lg-3 col-md-3 text-center textdiv" onclick="location.href='https://www.linkedin.com/in/matthew-isganaitis-1822a2161/';">
              <img src="assets/img/mat.jpeg" class="headshot" alt=""/>
              <br>
              <br>
              <p class="text-muted mb-0">
                <a href="https://www.linkedin.com/in/matthew-isganaitis-1822a2161/">
                  Matthew Isganaitis
                </a>
              </p>
            </div>
            <div class="col-lg-3 col-md-3 text-center textdiv" onclick="location.href='https://www.linkedin.com/in/shawnlauzon/';">
              <img src="assets/img/shawn.jpeg" class="headshot" alt=""/>
              <br>
              <br>
              <p class="text-muted mb-0">
                <a href="https://www.linkedin.com/in/shawnlauzon/">
                  Shawn Lauzon
                </a>
              </p>
            </div>
            <div class="col-lg-3 col-md-3 text-center textdiv" onclick="location.href='https://www.linkedin.com/in/rhys-parry/';">
              <img src="assets/img/rhys.jpeg" class="headshot" alt=""/>
              <br>
              <br>
              <p class="text-muted mb-0">
                <a href="https://www.linkedin.com/in/rhys-parry/">
                  Rhys Parry
                </a>
              </p>
            </div>
          </div>
          <div class="row text-center">
              <div class="col-lg-12 col-md-12 text-center textdiv" >
                <br>
                <br>
              </div>
          </div>


          <div class="row text-center">
            <div class="col-lg-3 col-md-3 text-center textdiv" onclick="location.href='https://www.linkedin.com/in/sylvain-cormier-0592805/';">
              <img src="assets/img/sylvain.jpeg" class="headshot" alt=""/>
              <br>
              <br>
              <p class="text-muted mb-0">
                <a href="https://www.linkedin.com/in/sylvain-cormier-0592805/">
                  Sylvain Cormier
                </a>
              </p>
            </div>

            <div class="col-lg-3 col-md-3 text-center textdiv" onclick="location.href='https://www.linkedin.com/in/marylou-cast-89a595163/';">
                <img src="assets/img/ml.jpeg" class="headshot" alt=""/>
                <br>
                <br>
                <p class="text-muted mb-0">
                  <a href="https://www.linkedin.com/in/marylou-cast-89a595163/">
                    Marylou Cast
                  </a>
                </p>
            </div>
            <div class="col-lg-3 col-md-3 text-center textdiv" onclick="location.href='https://www.linkedin.com/in/mojgan-ahmadi-1045a311b/';">
              <img src="assets/img/mojgan.jpeg" class="headshot" alt=""/>
              <br>
              <br>
              <p class="text-muted mb-0">
                <a href="https://www.linkedin.com/in/mojgan-ahmadi-1045a311b/">
                  Mojgan Ahmadi
                </a>
              </p>
            </div>
            <div class="col-lg-3 col-md-3 text-center textdiv" onclick="location.href='https://www.linkedin.com/in/jamesparryhill/';">
              <img src="assets/img/jimbo.jpeg" class="headshot" alt=""/>
              <br>
              <br>
              <p class="text-muted mb-0">
                <a href="https://www.linkedin.com/in/jamesparryhill/">
                  James Parry-Hill
                </a>
              </p>
            </div>
          </div>
          <div class="row text-center">
              <div class="col-lg-12 col-md-12 text-center textdiv" >
                <br>
                <br>
              </div>
          </div>
        </div>
        
      </div>
    </div>

  </div>
</section>
  