<!-- Featured -->
<section class="bg-primary" id="about">
        <div class="container">
          <div class="row">
            <div class="col-lg-8 mx-auto text-center">
                    <img src="assets/img/vtx.png" style="border-radius: 50%;" alt=""/>
              <h2 class="section-heading text-grey">VTX</h2>
              <div align="center">
                    <hr id="hrvtx">
                </div>
              <p class="text-grey mb-4">{{home.vtx_desc}}</p>
              <p class="text-grey mb-4">{{home.vtx_desc2}}</p>
              <ul class="text-grey" style="list-style-type: none;">
                  <li>{{home.vtx_desc2_li1}}</li>
                  <li>{{home.vtx_desc2_li2}}</li>
                  <li>{{home.vtx_desc2_li3}}</li>
              </ul>
            </div>
            
          </div>
          </div>
        </div>
      </section>